@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  font-family: sans-serif; }

header {
  grid-area: header;
  background-color: #5BC0EB; }
  header #seccion-marca {
    background-color: #5BC0EB;
    padding: 40px; }
  header .marca {
    color: #7A3B69;
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
    text-decoration: none; }
  header a.nav-link {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: #7A3B69;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif; }
    header a.nav-link:hover {
      color: blue;
      transition: all 0.4s ease; }
  header ul {
    list-style-type: none; }

footer {
  grid-area: footer;
  display: grid;
  justify-content: center;
  background-image: linear-gradient(to top, darksalmon, white);
  padding: 20px; }

/* Pagina de contacto */
.container {
  color: #7A3B69;
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;
  margin-left: 10px; }

.h1 {
  grid-area: h1;
  display: grid;
  justify-content: left;
  color: #7A3B69;
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;
  margin-left: 10px; }

.frase {
  grid-area: frase;
  display: grid;
  justify-content: center;
  color: #7A3B69;
  font-size: 25px;
  font-weight: bold;
  font-family: sans-serif;
  margin-left: 10px; }

/* Pagina de nosotros */
.nosotros {
  display: flex;
  flex-direction: column;
  color: #7A3B69;
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;
  margin-left: 10px; }

/* página de servicio */
.servicios {
  display: flex;
  flex-direction: column;
  color: #7A3B69;
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;
  margin-left: 10px; }
