@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");
.btn--instagram {
  background-color: #fff; }

.btn--facebook {
  background-color: #fff; }

.btn--linkedin {
  background-color: #fff; }

.sinmargin {
  width: 100% !important;
  padding: 0;
  margin: 0; }

header {
  grid-area: header;
  background-color: #5BC0EB; }
  header #seccion-marca {
    background-color: #5BC0EB;
    padding: 40px; }
  header .marca {
    color: #7A3B69;
    font-size: 30px;
    font-weight: bold;
    font-family: 'roboto';
    text-decoration: none; }
    header .marca:hover {
      color: #3066BE;
      transition: all 0.4s ease; }
  header a.nav-link {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: #7A3B69;
    font-size: 20px;
    font-weight: bold;
    font-family: 'roboto'; }
    header a.nav-link:hover {
      color: #3066BE;
      transition: all 0.4s ease; }
  header ul {
    list-style-type: none; }

footer {
  grid-area: footer;
  display: grid;
  justify-content: center;
  color: #7A3B69;
  font-size: 20px;
  font-weight: lighter;
  font-family: sans-serif;
  background-image: linear-gradient(to top, #9ED8DB, white);
  padding: 20px; }

.img-thumbnail {
  align-items: center;
  padding: 20px 20px;
  height: auto;
  width: 400px; }

.carousel {
  height: auto;
  width: auto;
  padding: 80px;
  max-width: 100%; }

.h1 {
  grid-area: h1;
  display: grid;
  justify-content: left;
  color: #7A3B69;
  font-size: 20px;
  font-weight: bold;
  font-family: 'roboto';
  margin-left: 20px; }

.frase {
  grid-area: frase;
  display: grid;
  justify-content: center;
  color: #7A3B69;
  font-size: 25px;
  font-weight: bold;
  font-family: 'roboto';
  margin-left: 20px; }

/* Pagina de nosotros */
.nosotros {
  display: flex;
  flex-direction: column;
  color: #7A3B69;
  font-size: 20px;
  font-weight: bold;
  font-family: 'roboto';
  margin-left: 20px; }

/* página de servicio */
.servicios {
  display: flex;
  flex-direction: column;
  color: #7A3B69;
  font-size: 20px;
  font-weight: bold;
  font-family: 'roboto';
  margin-left: 20px; }

/* Pagina de contacto */
.text-start {
  display: flex;
  flex-direction: column;
  color: #7A3B69;
  font-size: 20px;
  font-weight: bold;
  font-family: 'roboto';
  margin-left: 20px; }
