.h1{
    grid-area: h1;
    display: grid;
    justify-content: left;
    color: #7A3B69;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    margin-left: 10px;
}
.frase{
    grid-area: frase;
    display: grid;
    justify-content: center;
    color: #7A3B69;
    font-size: 25px;
    font-weight: bold;
    font-family: sans-serif;
    margin-left: 10px;
}
