/* Pagina de contacto */

.text-start{
    display: flex;
    flex-direction: column;
    color: #7A3B69;
    font-size: 20px;
    font-weight: bold;
    font-family: 'roboto';
    margin-left: 20px;

}
.mapa{
    padding-left: 2%;
    width:auto;
     height: 400px;
}