
.img-thumbnail{
    align-items: center;   
    padding: 20px 20px;
    height: auto;
    width: 400px
}

.carousel {
    @include sizes (auto, auto); 
    padding: 80px;
    max-width: 100%;

}
.h1{
    grid-area: h1;
    display: grid;
    justify-content: left;
    color: #7A3B69;
    font-size: 20px;
    font-weight: bold;
    font-family: 'roboto';
    margin-left: 20px;
}
.frase{
    grid-area: frase;
    display: grid;
    justify-content: center;
    color: #7A3B69;
    font-size: 25px;
    font-weight: bold;
    font-family: 'roboto';
    margin-left: 20px;
}




