
.imagen{
    align-items: center;   
    padding: 20px 20px;
    margin: 10px 10px;
    height: auto;
    width: 320px

}
.sombra{
    box-shadow: 2px 2px 3px grey
}

.zoom{
    transition: transform .2s
}
.zoom:hover{
    transform: scale(1.8)
}

.carousel {
    @include sizes (auto, auto); 
    padding: 80px;
    max-width: 100%;

}
.carousel-control-prev-icon, .carousel-control-next-icon {
    filter: invert(100%);

}
.flex-container{
    display: flex;
    justify-content: space-around ;
    margin: 10%;
    padding: 20px;
}


.h1{
    grid-area: h1;
    display: grid;
    background-color: #7A3B69;
    justify-content: center;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
    

}
.frase{
    grid-area: frase;
    display: grid;
    justify-content: center;
    color: #7A3B69;
    font-size: 25px;
    font-weight: bold;
    font-family: 'roboto';
    margin-left: 20px;
}




