footer{
    grid-area: footer;
    display: grid;
    justify-content: center;
    color: #7A3B69;
    font-size: 20px;
    font-weight: lighter;
    font-family: sans-serif;
    background-image: linear-gradient(to top, $secondary-colour, white);
    padding: 20px;
}