header{
    grid-area: header;
    background-color: $primary-colour;

#seccion-marca{
    background-color: $primary-colour;
    padding: 20px;
}
.marca{
    color: #7A3B69;
    font-size: 30px;
    font-weight: bold;
    font-family: 'roboto';
    text-decoration: none;
    &:hover{
        color: $hover-colour;
     transition: all 0.4s ease;
    }
}

}
a.nav-link{
    display: flex;
    flex-direction: row;
    float: right;
    margin: 0 15px 0 0;
    text-decoration: none;   
    color: #7A3B69;
    font-size: 20px;
    font-weight: bold;
    font-family: 'roboto';
    &:hover{
    color: $hover-colour;
     transition: all 0.4s ease;
    }

}



ul{
    list-style-type: none;
}
